#header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#logo {
  width: 150px;
}
#nav-items {
  padding: 0px 20px;
}

#nav-items > ul {
  display: flex;
  font-size: 20px;
  list-style-type: none;
}
#nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

#search {
  display: flex;
  gap: 10px;
  margin: 5px;
}

#res-card {
  padding: 5px;
  width: 220px;
  /* height: 350px; */
  overflow-wrap: break-word;
  background-color: #f0f0f0;
  margin: 5px;
}
#res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

#res-logo {
  width: 210px;
  height: 150px;
  padding: 5px;
}

#res-container {
  display: flex;
  flex-wrap: wrap;
}
